.gridmain{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px;
background-color: rgb(47, 78, 67);
}
.griditem{
    background-color: rgb(31, 27, 27);
    padding: 20px;
    font-size: 20px;
    text-align:center;
    color: tomato;
}
