.main .sale .clearance p {
    color: orange;
    font-size: 84px;
}   
.sale .clearance p {
    color: red;
    
}
.ptag {
    color: blue;
    
}

a{
    background-color: blueviolet;
}

h1{
    font-size: 400%;
}